* {
    margin: 0;
    padding: 0;
}
body {
    width: 60%;
    margin: 0 auto;
    background-color: #555;
}
#output {
    position: absolute;
    top: 1%;
    bottom: 40%;
    left: 20%;
    right: 20%;
    font-family: monospace;
}
#control-panel {
    position: absolute;
    top: 62%;
}
#control-panel label {
    display: block;
    margin-left: 1em;
    line-height: 1.5em;
}
